html {
    background-color: white;
    height: 800px;
    width: 1200px;
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: Arial;
    line-height: 26px;
    margin: 20px;
    height:  100%;
    background-color: #d14836;
}

.main_section a, .main_aside a{
    text-decoration: none;
    color: red    ;
    
}

.header {
    padding: 15px;
    color: white;
    font-size: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
}

.main_nav {
    flex: 20%;
}

.main_nav ul{
    list-style-type: none;
    padding: 0;
}



.main_nav  button{
    margin: 5px;
    background-color: #d14836;
    padding: 10px 15px;
    width: 90%;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    border-radius: 50px;
}

.main_nav button > a{
    text-decoration: none;
    color: white;
}



.main_section{
    flex: 80%;
    padding: 10px;
    order: -1;
}

.main_section > h2, h3{

    color: #d14836;
}

.main_aside{
    flex:100%;
    background-color: #F6DAD7;
    color: #d14836;
    padding: 10px;
}


.footer{
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

